.body{
    margin-left: 17vw;
}

#body{
    margin-left: 12 vw;
}
#submission-card-espacamento{
    margin-left: 250px;
}
.body-flexEnd{
    display: flex;
    flex-direction: column;
    align-items: end;
}