#mainPage-card{
    background-image: url("../../../styles/imagens/background padrao/15.jpg");
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
    .mainPage-card-filtro{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);/* 
        backdrop-filter: blur(15px); */
        z-index: 1;
    }
    #mainPage-card h1{
        display: flex;
        justify-content: center;

    }

    .mainPage-head{
        position: absolute;
        top: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
    }

        #mainPage-loginBtn{
            padding: 4px 15px;
            background-color: greenyellow;
            border-radius: 20px;
            margin: 0px 10px;
            border: 2px solid rgb(93, 155, 0);
            cursor: pointer;
        }

        #mainPage-cadastrarBtn{
            padding: 4px 7px;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            margin: 0px 10px;
            border: 2px solid black;
            cursor: pointer;
        }

    .mainPage-card-box{
        width: 40vw;
        height: 60vh;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0 0 10px 10px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.049);
        backdrop-filter: blur(12px);
        margin: 20vh 2vw;
    }
        .mainPage-card-box h2{
            align-items: center;
            color: white;
            text-align: center;
            padding: 10px;
        }

        .mainPage-card-box p{
            align-items: center;
            color: lightskyblue;
            text-align: center;
        }

    .mainPage-card-box-center{
        width: 80vw;
        height: 70vh;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0 0 10px 10px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.049);
        backdrop-filter: blur(12px);
        margin: 20vh 2vw;
    }
    .mainPage-card-box-pacotes{
        width: 95vw;
        height: 80vh;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.000);
        margin: 15vh 2vw;
    }
        .mainPage-card-box-pacotes h2{
            align-items: center;
            color: white;
            text-align: center;
            padding: 10px;
        }

        .mainPage-card-box-pacotes p{
            align-items: center;
            color: lightskyblue;
            text-align: center;
        }

        .mainPage-caard-box-h2-up{
            position: absolute;
            align-items: center;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: -45vh;
        }

        .mainPage-card-box-subBox1{
            width: 21vw;
            height: 70vh;
            z-index: 2; 
            box-shadow: 0 0 2px 2px rgb(198, 255, 161) ;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.100) ;
            backdrop-filter: blur(100px);
            transition: .5s ease-in-out;
        }
        .mainPage-card-box-subBox1:hover{
            width: 22vw;
            height: 72vh;
            box-shadow: 0 0 2px 2.5px rgb(102, 255, 0) ; 
        }
        .mainPage-card-box-subBox2{
            width: 21vw;
            height: 70vh;
            z-index: 2;
            box-shadow: 0 0 2px 2px rgb(255, 193, 131);
            z-index: 2;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.100) ;
            backdrop-filter: blur(100px);
            transition: .5s ease-in-out;
        }
        .mainPage-card-box-subBox2:hover{
            width: 22vw;
            height: 72vh;
            box-shadow: 0 0 2px 2.5px rgb(255, 128, 0);
        }
        .mainPage-card-box-subBox3{
            width: 21vw;
            height: 70vh;
            z-index: 2;
            box-shadow: 0 0 2px 2px rgb(134, 249, 255);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.100) ;
            backdrop-filter: blur(100px);
            transition: .5s ease-in-out;
        }
        .mainPage-card-box-subBox3:hover{
            width: 22vw;
            height: 72vh;
            box-shadow: 0 0 2px 2.5px rgb(0, 242, 255);
        }
        .mainPage-card-box-subBox4{
            width: 21vw;
            height: 70vh;
            z-index: 2;
            box-shadow: 0 0 2px 2px rgb(144, 141, 255);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.100) ;
            backdrop-filter: blur(100px);
            transition: .5s ease-in-out;
        }
        .mainPage-card-box-subBox4:hover{
            width: 22vw;
            height: 72vh;
            box-shadow: 0 0 2px 2.5px rgb(8, 0, 255);
        }
            .mainPage-card-box-textArea{
                background-color: transparent;
                height: 76.800px;
            }
        .mainPage-card-box-subBox-divisoriaArea{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgba(240, 248, 255, 0);
            margin-top: 15px;
            margin-bottom: 15px;
        }
                .mainPage-card-box-subBox-divisoria{
                    width: 95%;
                    height: 1px;
                    background-color: aliceblue;
                    margin-left: 1%;
                }
            .mainPage-card-box-subBox-precoArea{
                display: flex;
                background-color: rgba(240, 248, 255, 0);
                justify-content: center;
                align-items: center;
            }
                #mainPage-card-box-subBox-precoTitle{
                    color: white;
                    display: inline;
                    text-align: center;
                }
                #mainPage-card-box-subBox-precoValue{
                    color: white;
                    display: inline;
                    text-align: center;
                }
            .mainPage-card-box-subBox1 ul{
                margin-left: 1vw;
            }
            .mainPage-card-box-subBox1 ul li{
                list-style: inside;
                color: white;
            }
            .mainPage-card-box-subBox2 ul{
                margin-left: 1vw;
            }
            .mainPage-card-box-subBox2 ul li{
                list-style: inside;
                color: white;
            }
            .mainPage-card-box-subBox3 ul{
                margin-left: 1vw;
            }
            .mainPage-card-box-subBox3 ul li{
                list-style: inside;
                color: white;
            }
            .mainPage-card-box-subBox4 ul{
                margin-left: 1vw;
            }
            .mainPage-card-box-subBox4 ul li{
                list-style: inside;
                color: white;
            }
            .mainPage-card-box-btnPosition{
                position: absolute;
                bottom: 10px;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }
                .mainPage-card-box-saibaMaisBtn{
                    padding: 10px 20px;
                    background-color: aqua;
                    border-radius: 30px;
                    margin: 10px 30px;
                    cursor: pointer;
                }
                #mainPage-card-box-btnPTag{
                    color: white;
                    width: 100%;
                }
                .mainPage-card-box-comprarAgoraBtn{
                    padding: 10px 20px;
                    background-color: greenyellow;
                    border-radius: 30px;
                    margin: 10px 30px;
                    cursor: pointer;
                }