div{
    background-color: rgb(255, 255, 255);
}
.tabelaLiquidez-title-card{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.tabelaLiquidez-title-h1{

}

.tabelaLiquidez-box{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    align-items: center;
    margin-bottom: 40px;
}

.tabelaLiquidez-card{
    width: 310px;
    padding: 8px 0px;
}

.position-btnSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabelaLiquidez-label{
    font-size: 20px;
}

.tabelaLiquidez-input{
    border: 3px solid #45a8c4;
    border-radius: 10px;
    width: 250px;
    height: 35px;
}